@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* ### Primary */
--Very_Dark_Magenta: hsl(300, 43%, 22%);
--Soft_Pink: hsl(333, 80%, 67%);

/* ### Neutral */
--Dark_Grayish_Magenta: hsl(303, 10%, 53%);
--Light_Grayish_Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content-wrapper {
    width: 375px;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper header h1 {
    width: 320px;
    color: var(--Very_Dark_Magenta);
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.content-wrapper header p#description {
    width: 320px;
    color: var(--Dark_Grayish_Magenta);
    text-align: center;
    line-height: 1.4;
    margin-bottom: 1.2rem;
    font-size: 18px;
}

ul#ratings {
    width: 100%;
    list-style: none;
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1.2rem;
}

#ratings .item {
    padding-bottom: 1.6rem;
}

#ratings .item h2 {
    color: var(--Very_Dark_Magenta);
    font-size: 15px;
    margin: 12px 0;
}

div.testimonials {
    display: flex;
    flex-direction: column;
}

.card {
    width: 305px;
    border-radius: 10px;
    background-color: var(--Very_Dark_Magenta);
    color: var(--Light_Grayish_Magenta);
    margin-bottom: 1.2rem;
    padding: 2rem;
}

.card header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card header img {
    width: 45px;
    border-radius: 50%;
}

.card header .user-info {
    margin-left: 25px;
}

.user-info h2 {
    font-size: 15px;
    margin-bottom: 5px;
}

.user-info h3 {
    color: var(--Soft_Pink);
    font-size: 15px;
    font-weight: 400;
}

.card blockquote {
    margin-top: 20px;
}

.card blockquote h4 {
    line-height: 1.4;
    font-weight: 400;
}

@media screen and (min-width: 1150px) {
    div.content-wrapper {
        width: 1080px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content-wrapper header {
        width: 50%;
    }

    .content-wrapper header h1 {
        text-align: start;
        font-size: 3.5rem;
        width: 80%;
    }

    .content-wrapper header p#description {
        text-align: start;
        width: 80%;
        margin-bottom: 4rem;
    }

    .content-wrapper ul#ratings {
        display: flex;
        flex-direction: column;
    }

    #ratings {
        margin-bottom: 40px;
    }

    #ratings .item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #ratings .item span img {
        margin-left: 5px;
    }

    #ratings .item:nth-child(2) {
        margin-left: 40px;
    }

    #ratings .item:nth-child(3) {
        margin-left: 80px;
    }

    #ratings .item h2 {
        font-size: 18px;
        margin-left: 40px;
    }

    .content-wrapper ul#ratings {
        width: 50%;
    }

    div.testimonials {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
        margin: 0;
        padding: 0;
    }

    section.card {
        width: 340px;
        height: 220px;
        font-size: 16px;
    }

    section.card:nth-child(2) {
        margin-top: 20px;
    }

    section.card:nth-child(3) {
        margin-top: 40px;
    }

    .card header {
        width: 100%;
    }
}

footer {
    margin: 10px;
}

footer .attribution {
    font-size: 11px;
    text-align: center;
}
footer .attribution a {
    color: hsl(228, 45%, 44%);
}